a {
  color: #969696;
  text-decoration: none;
}

a:visited, a:active {
  color: #bcbcbc;
  text-decoration: underline;
}

.App {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5vmin 0;
}

.App-description {
  font: 4vmin 'Italiana', serif;
  margin: 1.75vmin 0 1vmin;
}

.App-licenses {
  font-size: 1.5vmin;
  width: 100%;
  padding: 10px 0;
  margin-top: auto;
}

.App-name {
  font: 12vmin 'Limelight', sans-serif;
  line-height: 0.8;
  margin: 0;
}

@media (max-width: 810px) and (min-width: 500px) {
  .App-description {
    font-size: calc(14px + 2vmin);
    margin: 3vmin auto 2vmin;
    width: 80%;
  }

  .App-licenses {
    font-size: 1.75vmin;
    width: 80%;
    margin: 0 auto;
  }

  .App-name {
    font-size: 12vmin;
  }
}

@media (max-width: 500px) {
  .App-description {
    font-size: calc(16px + 2vmin);
    font-weight: bold;
    margin: 3vmin auto 3vmin;
    width: 80%;
  }

  .App-licenses {
    font-size: 2.25vmin;
    width: 80%;
    margin: 0 auto;
  }

  .App-name {
    font-size: 16vmin;
  }
}