.App {
  text-align: center;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-description {
  font: 3vmin 'Italiana', serif;
  margin: 1vh 0 1vh;
}

.App-licenses {
  bottom: 5px;
  font-size: 1.25vmin;
  position: absolute;
  z-index: -1;
}

.App-link {
  color: #61dafb;
}

.App-main {
  margin: 5vmin 0;
  position: absolute;
  top: 5vmin;
}

.App-name {
  font: 10vmin 'Limelight', cursive;
  line-height: 0.8;
  margin: 0px;
}
