button, input {
  font: 2vmin 'Reem Kufi', sans-serif;
}

button {
  cursor: pointer;
  height: 3.7vmin;
  margin: 0 1vmin;
  width: 10vmin;
}

#episode {
  font-size: 2vmin;
}

#episode-img {
  border-radius: 10px;
  height: 36vmin;
  width: auto;
}

#episode-name, #no-episode-results, #no-show-results {
  font-size: 3vmin;
}

#search-field {
  height: 3vmin;
  margin: auto auto 1vmin;
  width: 25vmin;
}

#show-img {
  border-radius: 10px;
  cursor: pointer;
  height: 22vmin;
  margin: 0 2vmin 1vmin 0;
  width: 15vmin;
}

#show-results {
  position: relative;
  top: 2vmin;
}

@media (max-width: 768px) {
  button, input {
    display: block;
    margin: 0 auto 2vmin;
    width: 80%;
  }

  #episode {
    font-size: calc(8px + 1.5vmin);
  }
  
  #episode-name, #no-episode-results, #no-show-results {
    font-size: calc(8px + 3vmin);
  }
  
  #search-field {
    margin: auto auto -4vmin;
    width: 80%;
  }

  #show-img {
    margin: auto 1vmin;
  }

  #show-results {
    margin: auto;
    width: 80%;
  }
}